@model Alquileres.Models.Provincia

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Provincia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edita", "Edit", new { id = Model.ProvinciaId }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
